<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @workout.name %>
</p>

<p>
  <b>File Name:</b>
  <a href="<%= @workout.datafile.url %>"><%= @workout.datafile_file_name %></a>
</p>
<p>
  <b>File Path:</b>
  <%= @workout.datafile.path %>
</p>
<p>
  <b>File Size:</b>
  <%= @workout.datafile_file_size %>
</p>
<p>
  <b>Content Type:</b>
  <%= @workout.datafile_content_type %>
</p>
<p>
  <b>Uploaded:</b>
  <%= @workout.datafile_updated_at %>
</p>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
