
  <tr>
    <td><%= lap.id %></td>
    <td><%= lap.total_time_formatted %></td>
    <td><%= lap.total_distance_formatted %> </td>
    <td><%= lap.calories %> </td>
    <td><%= lap.min_heart_rate %></td>
    <td><%= lap.avg_heart_rate %></td>
    <td><%= lap.max_heart_rate %></td>
    <td><%= lap.min_cadence %></td>
    <td><%= lap.avg_cadence %></td>
    <td><%= lap.get_max_cadence %></td>
    <td><%= lap.min_watts %> (z<%= lap.min_power_zone %>)</td>
    <td><%= lap.avg_watts %> (z<%= lap.avg_power_zone %>)</td>
    <td><%= lap.get_max_watts %> (z<%= lap.max_power_zone %>)</td>
    <td><%= lap.intensity %></td>
  <tr>
