<%= form_for(@power_zone, :remote => true) do |f| %>
<table id="power_zones">
  <tr>
    <th>Date</th>
    <th>Recovery(1)</th>
    <th>Aerobic(2)</th>
    <th>Tempo(3)</th>
    <th>Threshold(4)</th>
    <th>V02 Max(5)</th>
    <th>AWC(6)</th>
    <th>Enabled</th>
    <th colspan=3></th>

  </tr>

	<% @power_zones.each do |power_zone| %>
  <tr>
    <td><%= power_zone.created_at %></td>
    <td><%= power_zone.z1 %></td>
    <td><%= power_zone.z2 %></td>
    <td><%= power_zone.z3 %></td>
    <td><%= power_zone.z4 %></td>
    <td><%= power_zone.z5 %></td>
    <td><%= power_zone.z6 %></td>
    <td><%= power_zone.enabled %></td>

    <td><%= link_to 'Edit', edit_power_zone_path(power_zone) %></td>
    <td><%= link_to 'Destroy', power_zone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
	<% end %>
	<tr>
    <td></td>
    <td><%= f.text_field :z1, :size => 3  %></td>
    <td><%= f.text_field :z2, :size => 3 %></td>
    <td><%= f.text_field :z3, :size => 3 %></td>
    <td><%= f.text_field :z4, :size => 3 %></td>
    <td><%= f.text_field :z5, :size => 3 %></td>
    <td><%= f.text_field :z6, :size => 3 %></td>
    <td><%= f.check_box :enabled, :size => 3 %></td>
    <td colspan=2><%= f.submit %></td> 
	</tr>
</table>
<% end %>