<% if power_zone.enabled %>
<table>
<tr>
    <th colspan=6>Power Zones</th>
</tr>    
<tr>
    <th>Zone</th>
    <th>Description</th>
    <th>Low (watts)</th>
    <th>High (watts)</th>
    <th>Time</th>
    <th>%</th>
</tr>

<tr>
    <td>Z1</td>
    <td>Active Recovery</td>
    <td><%= power_zone.z1  %></td>
    <td><%= power_zone.z2-1 %></td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z2</td>
    <td>Endurance</td>
    <td><%= power_zone.z2  %></td>
    <td><%= power_zone.z3-1 %></td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z3</td>
    <td>Tempo</td>
    <td><%= power_zone.z3  %></td>
    <td><%= power_zone.z4-1 %></td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z4</td>
    <td>Threshold</td>
    <td><%= power_zone.z4  %></td>
    <td><%= power_zone.z5-1 %></td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z5</td>
    <td>VO2Max</td>
    <td><%= power_zone.z5  %></td>
    <td><%= power_zone.z6-1 %></td>
    <td>0:0</td>
    <td>0%</td>
</tr>

<tr>
    <td>Z6</td>
    <td>Anaerobic</td>
    <td><%= power_zone.z6  %></td>
    <td>Max</td>
    <td>0:0</td>
    <td>0%</td>
</tr>

</table>
<% end %>