
<%= image_tag @user.avatar.url(:thumb) %>

<h2>Athlete: <%= @user.name %></h2>
<b>Email: <%= @user.email %></b></br/>
<b>Journal Entries: <%= @user.journal_entries.count %></b>
<b><%= link_to 'Edit', edit_user_path(@user) %></b>