<div id="profile_tabs">
	<ul>
		<li><a href="#tabs-profile">User Profile</a></li>
		<li><a href="#tabs-power">Power Zones</a></li>
		<li><a href="#tabs-hr">Heart Rate Zones</a></li>
		<li><a href="#tabs-equipment">Equipment</a></li>
	</ul>
	<div id="tabs-profile"  class="tabs_div_container">
	
		
	<div id="user_profile_image">
		<%= image_tag current_user.avatar.url(:medium) %>
	</div>


	<%= form_for(@user, :remote => true) do |f| %>
		<div id="user_profile_settings" class="formLayout">
			<%= f.label :name, "Your Name"%>
			<%= f.text_field :name %>
			<%= f.label :email , "Your Email"%>
			<%= f.text_field :email %>
			<%= f.label :weight, "Your Weight (kg)"%>
			<%= f.number_field :weight %>
			<%= f.label :birthday, "Your Birthday"%>
			<%= f.text_field :birthday, :class => "birthday-datetime" %>
			<!-- <%= f.date_select :birthday, :order => [:day, :month, :year] %> //-->
			<%= f.label :password, "New Password"%>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation, "Password Conf" %>
			<%= f.password_field :password_confirmation %>
			<label for="submit"></label>
			<%= f.submit "Update Profile" %> 
		</div>
	<% end %>

	</div>

	<div id="tabs-power" class="tabs_div_container">
		<a href="http://home.trainingpeaks.com/articles/cycling/power-training-levels,-by-andrew-coggan.aspx" target="_new">*More Info On Power Zones</a>
		<%= form_for(@power_zone, :remote => true) do |f| %>
			<table class="user_zone_table">
				<tr>
					<td><%= f.label :ftp, "FTP"%></td>
					<td>
							<%= f.number_field :ftp, :title => 'Functional Threshold Power (FTP)<hr/> This value is calculated by taking ~ 93% of your average power output from a 20-min time trial.' %>
					</td>
				</tr>

				<tr>
				<td><%= f.label :z1, "Recovery (Zone 1)"%></td>
					<td>
					<div id="power_z1_min">0 - </div> 
					<%= f.number_field :z1, :title => '(1) Active Recovery: (Power <55% FTP)<hr/>"Easy spinning" or "light pedal pressure", i.e., very low level exercise, too low in and of itself to induce significant physiological adaptations. Minimal sensation of leg effort/fatigue. Requires no concentration to maintain pace, and continuous conversation possible. Typically used for active recovery after strenuous training days (or races), between interval efforts, or for socializing.'%>
					</td>
				</tr>
				<tr>

				<td><%= f.label :z2 , "Aerobic (Zone 2)"%></td>
				<td>
				<div id="power_z2_min">0 - </div>
				<%= f.number_field :z2, :title => '(2) Endurance: (Power 56-75% FTP)<hr/>"All day" pace, or classic long slow distance (LSD) training. Sensation of leg effort/fatigue generally low, but may rise periodically to higher levels (e.g., when climbing). Concentration generally required to maintain effort only at highest end of range and/or during longer training sessions. Breathing is more regular than at level 1, but continuous conversation still possible. Frequent (daily) training sessions of moderate duration (e.g., 2 h) at level 2 possible (provided dietary carbohydrate intake is adequate), but complete recovery from very long workouts may take more than 24 hs.' %>
				</td>
				</tr>

				<tr>
				<td><%= f.label :z3, "Tempo (Zone 3)"%></td>
				<td>
				<div id="power_z3_min">0 - </div>
				<%= f.number_field :z3 , :title => '(3) Tempo: (Power 76-90% FTP)<hr/>Typical intensity of fartlek workout, "spirited" group ride, or briskly moving paceline. More frequent/greater sensation of leg effort/fatigue than at level 2. Requires concentration to maintain alone, especially at upper end of range, to prevent effort from falling back to level 2. Breathing deeper and more rhythmic than level 2, such that any conversation must be somewhat halting, but not as difficult as at level 4. Recovery from level 3 training sessions more difficult than after level 2 workouts, but consecutive days of level 3 training still possible if duration is not excessive and dietary carbohydrate intake is adequate.'%>
				</td>
				</tr>

				<tr>
				<td><%= f.label :z4, "Threshold (Zone 4)"%></td>
				<td>
				<div id="power_z4_min">0 - </div>
				<%= f.number_field :z4, :title => '(4) Lactate Threshold: (Power 91-105% FTP)<hr/>Just below to just above TT effort, taking into account duration, current fitness, environmental conditions, etc. Essentially continuous sensation of moderate or even greater leg effort/fatigue. Continuous conversation difficult at best, due to depth/frequency of breathing. Effort sufficiently high that sustained exercise at this level is mentally very taxing - therefore typically performed in training as multiple "repeats", "modules", or "blocks" of 10-30 min duration. Consecutive days of training at level 4 possible, but such workouts generally only performed when sufficiently rested/recovered from prior training so as to be able to maintain intensity.' %>
				</td>
				</tr>
				<tr>

				<td><%= f.label :z5, "VO2 Max (Zone 5)"%></td>
				<td>
				<div id="power_z5_min">0 - </div>
				<%= f.number_field :z5, :title => '(5) VO2 Max: (Power 106-120% FTP)<hr/>Typical intensity of longer (3-8 min) intervals intended to increase VO2max. Strong to severe sensations of leg effort/fatigue, such that completion of more than 30-40 min total training time is difficult at best. Conversation not possible due to often "ragged" breathing. Should generally be attempted only when adequately recovered from prior training - consecutive days of level 5 work not necessarily desirable even if possible.' %>
				</td>
				</tr>
				<tr>
				<td><%= f.label :z6, "AWC (Zone 6)" %></td>
				<td>
				<div id="power_z6_min" title='(6) Anaerobic Capacity: (Power >121% FTP)<hr/>Short (30 s to 3 min), high intensity intervals designed to increase anaerobic capacity. Heart rate generally not useful as guide to intensity due to non-steady-state nature of effort. Severe sensation of leg effort/fatigue, and conversation impossible. Consecutive days of extended level 6 training usually not attempted.'>0 - </div>
				<!-- <%= f.number_field :z6 %> //-->
				</td>
				</tr>
				<tr>
				<td><label for="submit"></label></td>
				<td>
					<!-- <button id="calc_power_zones">Calculate Power Zones</button> //-->
					<input id="calc_power_zones" type="submit" value="Calculate Power Zones" title="Calculate power zones based on current FTP value." />
					<%= f.submit "Update Zones", :title => "Save currently calculated power zones to the database." %>
				</td>
			</tr>
		</table>

		<% end %>
  </div>
	
	<div id="tabs-hr" class="tabs_div_container">
		<a href="http://home.trainingpeaks.com/articles/cycling/power-training-levels,-by-andrew-coggan.aspx" target="_new">*More Info On HR Zones</a>
		<%= form_for(@hr_zone, :remote => true) do |f| %>
			<div id="hr_profile_settings" class="formLayout">

				<%= f.label :lt_hr, "LT Heart Rate"%>
				<%= f.number_field :lt_hr, :title => 'Average HR in a 20-min TT' %>

				<%= f.label :z0, "Resting (Zone 0)"%>
				<div id="hr_z0_min" class="zone_min">0 - </div> 
				<%= f.number_field :z0, :title => '(0) Resting Heart Rate<hr/>Sitting on the couch.'%>

				<%= f.label :z1, "Recovery (Zone 1)"%>
				<div id="hr_z1_min" class="zone_min">0 - </div> 
				<%= f.number_field :z1, :title => '(1) Active Recovery: (Avg HR < 68% MAX)<hr/>"Easy spinning" or "light pedal pressure", i.e., very low level exercise, too low in and of itself to induce significant physiological adaptations. Minimal sensation of leg effort/fatigue. Requires no concentration to maintain pace, and continuous conversation possible. Typically used for active recovery after strenuous training days (or races), between interval efforts, or for socializing.'%>
				
				<%= f.label :z2 , "Aerobic (Zone 2)"%>
				<div id="hr_z2_min" class="zone_min">0 - </div>
				<%= f.number_field :z2, :title => '(2) Endurance: (Avg HR 69-83% MAX)<hr/>"All day" pace, or classic long slow distance (LSD) training. Sensation of leg effort/fatigue generally low, but may rise periodically to higher levels (e.g., when climbing). Concentration generally required to maintain effort only at highest end of range and/or during longer training sessions. Breathing is more regular than at level 1, but continuous conversation still possible. Frequent (daily) training sessions of moderate duration (e.g., 2 h) at level 2 possible (provided dietary carbohydrate intake is adequate), but complete recovery from very long workouts may take more than 24 hs.' %>
				
				<%= f.label :z3, "Tempo (Zone 3)"%>
				<div id="hr_z3_min" class="zone_min">0 - </div>
				<%= f.number_field :z3 , :title => '(3) Tempo: (Avg HR 84-94% MAX)<hr/>Typical intensity of fartlek workout, "spirited" group ride, or briskly moving paceline. More frequent/greater sensation of leg effort/fatigue than at level 2. Requires concentration to maintain alone, especially at upper end of range, to prevent effort from falling back to level 2. Breathing deeper and more rhythmic than level 2, such that any conversation must be somewhat halting, but not as difficult as at level 4. Recovery from level 3 training sessions more difficult than after level 2 workouts, but consecutive days of level 3 training still possible if duration is not excessive and dietary carbohydrate intake is adequate.'%>
				
				<%= f.label :z4, "Threshold (Zone 4)"%>
				<div id="hr_z4_min" class="zone_min">0 - </div>
				<%= f.number_field :z4, :title => '(4) Lactate Threshold: (Avg HR 95-105% MAX)<hr/>Just below to just above TT effort, taking into account duration, current fitness, environmental conditions, etc. Essentially continuous sensation of moderate or even greater leg effort/fatigue. Continuous conversation difficult at best, due to depth/frequency of breathing. Effort sufficiently high that sustained exercise at this level is mentally very taxing - therefore typically performed in training as multiple "repeats", "modules", or "blocks" of 10-30 min duration. Consecutive days of training at level 4 possible, but such workouts generally only performed when sufficiently rested/recovered from prior training so as to be able to maintain intensity.' %>
				
				<%= f.label :z5, "VO2 Max (Zone 5)"%>
				<div id="hr_z5_min" class="zone_min" title='(5) VO2 Max: (Avg HR >106% MAX)<hr/>Typical intensity of longer (3-8 min) intervals intended to increase VO2max. Strong to severe sensations of leg effort/fatigue, such that completion of more than 30-40 min total training time is difficult at best. Conversation not possible due to often "ragged" breathing. Should generally be attempted only when adequately recovered from prior training - consecutive days of level 5 work not necessarily desirable even if possible.' >0 - </div>
				<label for="submit"></label>
				<%= f.submit "Update Zones" %> 
			</div>
		<% end %>
	</div>
	<div id="tabs-equipment" class="tabs_div_container">
	</div>
</div>
<script>
$(function() {
	$( "#profile_tabs" ).tabs();
	$( document ).tooltip();
	updatePowerZoneMins();
	updateHRZoneMins();

	//$( "#radioset" ).buttonset();
	$('.birthday-datetime').datepicker({ changeYear: true, dateFormat: "yy-mm-dd", constrainInput: true, yearRange: "-100:-10" });
	$('.edit_power_zone').change(updatePowerZoneMins);
	$('.edit_hr_zone').change(updateHRZoneMins);

	function updatePowerZoneMins(){
		$('#power_z2_min').html( parseInt($('#power_zone_z1').val())+1 + " - " );
		$('#power_z3_min').html( parseInt($('#power_zone_z2').val())+1 + " - " );
		$('#power_z4_min').html( parseInt($('#power_zone_z3').val())+1 + " - " );
		$('#power_z5_min').html( parseInt($('#power_zone_z4').val())+1 + " - " );
		$('#power_z6_min').html( parseInt($('#power_zone_z5').val())+1 + " - MAX" );
	}

	function updateHRZoneMins(){
		$('#hr_z1_min').html( parseInt($('#hr_zone_z0').val())+1 + " - " );
		$('#hr_z2_min').html( parseInt($('#hr_zone_z1').val())+1 + " - " );
		$('#hr_z3_min').html( parseInt($('#hr_zone_z2').val())+1 + " - " );
		$('#hr_z4_min').html( parseInt($('#hr_zone_z3').val())+1 + " - " );
		$('#hr_z5_min').html( parseInt($('#hr_zone_z4').val())+1 + " - MAX" );
		//$('#hr_z6_min').html( parseInt($('#hr_zone_z5').val())+1 + " - MAX" );
	}

	function calcPowerZones(){
		var ftp = parseInt($('#power_zone_ftp').val());
		$('#power_zone_z1').val(Math.round(ftp*.55)-1);
		$('#power_zone_z2').val(Math.round(ftp*.75)-1);
		$('#power_zone_z3').val(Math.round(ftp*.9)-1);
		$('#power_zone_z4').val(Math.round(ftp*1.05)-1);
		$('#power_zone_z5').val(Math.round(ftp*1.2)-1);
		updatePowerZoneMins();
	}

	$("#calc_power_zones").click(function( event ) {
  	event.preventDefault();
  	calcPowerZones();
  	$("<div>Power Zones Updated.</div>").dialog({
      modal: true,
      title: "Update Successful!",
      buttons: {
        Ok: function() {
          $( this ).dialog( "close" );
        }
      }
    });
  });

});
</script>