
<%= image_tag @user.avatar.url(:thumb) %>

<h2>Athlete: <%= @user.name %></h2>
<b>Email: <%= @user.email %></b>

<%= render 'activities' %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'New', new_user_activity_path(@user.id) %> 

<%= render "activity_queue" %>