<div id="profile_tabs">
	<ul>
		<li><a href="#tabs-profile">User Profile</a></li>
		<li><a href="#tabs-power">Power Zones</a></li>
		<li><a href="#tabs-hr">Heart Rate Zones</a></li>
		<li><a href="#tabs-equipment">Equipment</a></li>
	</ul>
	<div id="tabs-profile"  class="tabs_div_container">
	
		<%= form_for(@user, :html => { :remote => false } ) do |f| %>
		<% if @user.errors.any? %>
		<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
		<% @user.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
		</ul>
		</div>
		<% end %>

		<div id="user_profile_image">
			<%= image_tag current_user.avatar.url(:medium) %>
			<%= f.file_field :avatar %>
		</div>

		<div id="user_profile_settings" class="formLayout">
				<%= f.label :name, "Your Name"%>
				<%= f.text_field :name %>
				<%= f.label :email , "Your Email"%>
				<%= f.text_field :email %>
				<%= f.label :weight, "Your Weight (kg)"%>
				<%= f.number_field :weight %>
				<%= f.label :birthday, "Your Birthday"%>
				<%= f.text_field :birthday, :class => "birthday-datetime" %>
				<!-- <%= f.date_select :birthday, :order => [:day, :month, :year] %> //-->
				<%= f.label :password, "New Password"%>
				<%= f.text_field :password %>
				<%= f.label :password_confirmation, "Password Conf" %>
				<%= f.password_field :password_confirmation %>
				<label for="submit"></label>
				<%= f.submit %> 
			<% end %>
		</div>

	</div>

	<div id="tabs-power" class="tabs_div_container">
	</div>
	<div id="tabs-hr" class="tabs_div_container">
	</div>
	<div id="tabs-equipment" class="tabs_div_container">
	</div>
</div>
<script>
$(function() {
	$( "#profile_tabs" ).tabs();
	//$( "#radioset" ).buttonset();
	$('.birthday-datetime').datepicker({ changeYear: true, dateFormat: "yy-mm-dd", constrainInput: true, yearRange: "-100:-10" });

});
</script>