<%= form_for(@hr_zone) do |f| %>
  <% if @hr_zone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hr_zone.errors.count, "error") %> prohibited this hr_zone from being saved:</h2>

      <ul>
      <% @hr_zone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :z0 %><br />
    <%= f.number_field :z0 %>
  </div>
  <div class="field">
    <%= f.label :z1 %><br />
    <%= f.number_field :z1 %>
  </div>
  <div class="field">
    <%= f.label :z2 %><br />
    <%= f.number_field :z2 %>
  </div>
  <div class="field">
    <%= f.label :z3 %><br />
    <%= f.number_field :z3 %>
  </div>
  <div class="field">
    <%= f.label :z4 %><br />
    <%= f.number_field :z4 %>
  </div>
  <div class="field">
    <%= f.label :z5 %><br />
    <%= f.number_field :z5 %>
  </div>
  <div class="field">
    <%= f.label :z6 %><br />
    <%= f.number_field :z6 %>
  </div>
  <div class="field">
    <%= f.label :z7 %><br />
    <%= f.number_field :z7 %>
  </div>
  <div class="field">
    <%= f.label :enabled %><br />
    <%= f.check_box :enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
