<h2>HR Zone (Max)</h2>

<div id="hr_zones_div">

<table id="hr_zones">
  <tr>
    <th>Date</th>
    <th>Resting(0)</th>
    <th>Recovery(1)</th>
    <th>Aerobic(2)</th>
    <th>Tempo(3)</th>
    <th>Threshold(4)</th>
    <th>V02 Max(5)</th>
    <th>AWC(6)</th>
    <th>AWC+(7)</th>
    <th>Enabled</th>
    <th colspan=2></th>

  </tr>

<% @hr_zones.each do |hr_zone| %>
  <tr>
    <td><%= hr_zone.created_at %></td>
    <td><%= hr_zone.z0 %></td>
    <td><%= hr_zone.z1 %></td>
    <td><%= hr_zone.z2 %></td>
    <td><%= hr_zone.z3 %></td>
    <td><%= hr_zone.z4 %></td>
    <td><%= hr_zone.z5 %></td>
    <td><%= hr_zone.z6 %></td>
    <td><%= hr_zone.z7 %></td>
    <td><%= hr_zone.enabled %></td>
    <td><%= link_to 'Edit', edit_hr_zone_path(hr_zone), :remote => true %></td>
    <td><%= link_to 'Destroy', hr_zone, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
  </tr>
<% end %>
</table>

</div>
<br />

<%= link_to 'New HR zone', new_hr_zone_path, :remote => true %>
