<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @hr_zone.user_id %>
</p>

<p>
  <b>Z0:</b>
  <%= @hr_zone.z0 %>
</p>

<p>
  <b>Z1:</b>
  <%= @hr_zone.z1 %>
</p>

<p>
  <b>Z2:</b>
  <%= @hr_zone.z2 %>
</p>

<p>
  <b>Z3:</b>
  <%= @hr_zone.z3 %>
</p>

<p>
  <b>Z4:</b>
  <%= @hr_zone.z4 %>
</p>

<p>
  <b>Z5:</b>
  <%= @hr_zone.z5 %>
</p>

<p>
  <b>Z6:</b>
  <%= @hr_zone.z6 %>
</p>

<p>
  <b>Z7:</b>
  <%= @hr_zone.z7 %>
</p>

<p>
  <b>Enabled:</b>
  <%= @hr_zone.enabled %>
</p>


<%= link_to 'Edit', edit_hr_zone_path(@hr_zone) %> |
<%= link_to 'Back', hr_zones_path %>
