
  <tr>
    <td><%= activity.activity_date %></td>
    <td><%= activity.sport %></td>
    <td><%= link_to(activity.name, user_activity_path(@user.id,activity.id) )%></td>
    <td><%= activity.ride_time_formatted %></td>
    <td><%= activity.distance_miles %></td>
    <td><%= activity.elevation_gain_feet %></td>
    <td><%= activity.elevation_loss_feet %></td>
    <td><%= activity.avg_heart_rate %></td>
    <td><%= activity.avg_watts %></td>
    <td><%= activity.avg_cadence %></td>
    <td><%= activity.laps.count %></td>
    <td><%= link_to "Download", activity.datafile.url(:original, false) %></td>
    <!-- <td><%= link_to 'Del', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %></td> //-->
  </tr>
