
<%= image_tag @user.avatar.url(:thumb) %>
<h2>Athlete: <%= @user.name %></h2>
<table>
    <tr>
    <th colspan=13>Activities</th>
    </tr>
  <tr>
    <th>Date</th>
    <th>Sport</th>
    <th>Name</th>
    <th>Ride Time</th>
    <th>Distance(Miles)</th>
    <th>Elevation Gain(Feet)</th>
    <th>Elevation Loss(Feet)</th>
    <th>Avg HR (bpm)</th>
    <th>Avg Watts(w)</th>
    <th>Avg Cadence</th>
    <th>Laps</th>
<!--    <th colspan=2></th> //-->
  </tr>
  
<%= render(@activities) %>
</table>
<!--
<div id="new_activity_form">
</div>
<br/>
<table>
    <tr>
            <td>
        <%= button_to 'Show Pending Activities', 
                        show_activity_queue_path, 
                        method: :get, 
                        remote: true,
                        id: "activity_queue_button" 
                        %>
    </td>
    <td>
        <%= button_to 'New Activity', 
                        new_activity_path, 
                        method: :get, 
                        remote: true,
                        id: "new_activity_button" 
                        %>
    </td>
</tr>
</table>
</br> 
<div id="activity_queue">
</div>
<br/>
//-->