<p id="notice"><%= notice %></p>
<h2><%= @activity.activity_date %></h2>
<h3>Device Type: <%= @activity.creator_name %></h3>
<p>
  <b>Sport:</b>
  <%= @activity.sport %>
</p>


<%= render 'total_summary' %>


<h2>Map</h2>
<%= render 'graph_data' %>


<%= link_to 'Edit', edit_user_activity_path(@activity) %> |
<%= link_to 'Back', current_user %>
