<p id="notice"><%= notice %></p>

<p>
  <b>Sport:</b>
  <%= @activity.sport %>
</p>

<p>
  <b>Activityid:</b>
  <%= @activity.activityid %>
</p>

<p>
  <b>Creatorname:</b>
  <%= @activity.creator_name %>
</p>

<p>
  <b>Unitid:</b>
  <%= @activity.unit_id %>
</p>

<p>
  <b>Productid:</b>
  <%= @activity.product_id %>
</p>

<h2>Laps</h2>
<%= render 'laps_data' %>

<h2>Fancy Graphs</h2>
<%= render 'graph_data' %>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
