<p id="notice"><%= notice %></p>
<b>Athlete: <%= @activity.user.name %> </b><br/>
<b>Activity: <%= @activity.name %></b><br/>
<b>Date: <%= @activity.activity_date %></b><br/>
<b>Device Type: <%= @activity.creator_name %></b><br/>
<b>Sport: <%= @activity.sport %></b><br/>
<br/>
<!-- <div id="summary" class="activity_content">  -->
	<%= 
	  # render 'summary'
     %>
     <%=
     #   render 'lap_data' 
	%>
	<%= 
	   render 'graph' 
	%>