<p id="notice"><%= notice %></p>
<h2><%= @activity.name %></h2>
<h3>Date: <%= @activity.activity_date %></h3>
<h4>Device Type: <%= @activity.creator_name %></h4>
<p>
  <b>Sport:</b>
  <%= @activity.sport %>
</p>


<%= render 'total_summary' %><br/>
<%= render 'power_zones' %><br/>
<%= render 'heart_rate_zones' %><br/>
<%= render 'graph_data' %><br/>

<%= link_to 'Edit', edit_user_activity_path(@activity) %> |
<%= link_to 'Back', current_user %>
