<p id="notice"><%= notice %></p>
<%= image_tag @activity.user.avatar.url(:thumb) %>
<h2>Athlete: <%= @activity.user.name %> </h2>
<h2><%= @activity.name %></h2>
<h3>Date: <%= @activity.activity_date %></h3>
<h4>Device Type: <%= @activity.creator_name %></h4>
<p>
  <b>Sport:</b>
  <%= @activity.sport %>
</p>

<%= render 'total_summary' %><br/>
<%= 
#render 'lap_data' 
%>
<%= render  :partial => current_user.power_zones.where(:enabled => true).first, 
						:locals => { :power_zone_data => @power_zone_data } %><br/>
<%= render  :partial => current_user.hr_zones.where(:enabled => true).first, 
						:locals => { :hr_zone_data => @hr_zone_data } %><br/>
<%= render 'graph_data' %><br/>

<%= link_to 'Edit', edit_user_activity_path(@activity) %> |
<%= link_to 'Back', current_user %>
