<!DOCTYPE html>
<html>
<head>
  <title>Training HQ<%= current_user != nil ? " :: #{current_user.name}" : "" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page_wrapper" class="rounded-corners">
<header id="application_header" >
  <div id="logo">
  <%= 
    if current_user != nil
      image_tag current_user.avatar.url(:thumb)
    else
      image_tag "/avatars/thumb/missing.png"
    end
    %></div>

  <nav id="main_nav">
    <% if current_user %>
      <%= link_to "Activities", activities_path %>&nbsp;|&nbsp;
      <%= link_to "Upload", new_user_activity_path(current_user) %>&nbsp;|&nbsp; 
      <%= 
      link_to "User Profile", user_path(current_user) 
      %> &nbsp;|&nbsp;  
      <%= link_to "Log Out", logout_path, confirm: "Really log out?" %>
    <% else %>
      <%= link_to "Sign up", signup_path %>&nbsp;|&nbsp;
      <%= link_to "log in", login_path %>
    <% end %>
  </nav>
</header>

<section id="main">

  <% if flash.count > 0
      flash.each do |name, msg|%>
        <script>
        $("<div><%= msg %></div>").dialog({title: "<%= name.upcase %>",modal: true});
        </script>
      <% end %>
  <% end %>

  <%= yield %>
  <%= yield :scripts %>
</section>
</div>
</body>
</html>